FONT {
	FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px
}
TD {
	FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px
}
BODY {
	FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px
}
P {
	FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px
}
DIV {
	FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px
}
INPUT {
	FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px
}
TEXTAREA {
	FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px
}
FORM {
	FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px
}
SELECT {
	FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 12px
}
A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #215dc6; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #215dc6; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #215dc6; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #215dc6; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.title {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #215dc6; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.content {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 12px
}
.storytitle {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.storycat {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #215dc6; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.boxtitle {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.boxcontent {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 12px
}
.option {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.tiny {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #215dc6; FONT-FAMILY: Verdana, Helvetica; FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
